@font-face {
    font-family:'Gotham Pro Light';
    src: url('fonts/GothamPro-Light.woff2') format('woff2'),
    url('fonts/GothamPro-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Gotham Pro Light It';
    src: url('fonts/GothamPro-LightItalic.woff2') format('woff2'),
    url('fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Gotham Pro';
    src: url('fonts/GothamPro-Bold.woff2') format('woff2'),
    url('fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Roboto', Arial, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
.wrapper {

    min-height: 100%;
    overflow: hidden;
    min-width: 1100px;
}

.header {
    content: '';
    display: block;
    height: 77px;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.header__left {
    padding-top: 12px;
}
.header__right {
     padding-top: 21px;
    text-align: right;
 }

.logo__link {
    padding-left: 19px;
}

.footer{
    height: 50px;
    background: #27283e;

}

.logo__test {
    height: 100px;
    width: 100px;
    background: #ec1e79;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.header {
    height: 77px;
    background: #27283e;
}

.logo__link {
    width: 99px;
    height: 51px;
    left: 19px;
    top: 12px;
}

wrap {
    width: 300px;
    height: 300px;
    border: black;
}

.block {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: red;
}


.contacts {
    text-align: right;
    padding-right: 21px;
    padding-bottom: 15px;
}

.contacts__phone, .contacts__description{
    display: block;
}
.contacts__phone {
    font-family: 'Gotham Pro';
    text-align: right;
    color: white;
}

.banner {
    height: 361px;
    background: #27283e;
}

.banner__img {
    background: url('img/banner.png') center center no-repeat;
    min-height: 361px;
}

.logo, .contacts {
    display: inline-block;
}

.header__left, .header__right {
    float: left;
    width: 50%;
}

.contacts__phone {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

.contacts__button {
    color: rgba(236, 30,121,0.7);
    font-family: 'Open Sans';
    font-size:  14px;
    font-weight: bold;
    text-align: right;
    background: #27283e;
    text-decoration: underline;
    border: none;
}


.features__item {
    display: inline-block;
}

.navigation, .features {
    display: inline-block;
}
.feature__name {
    font-family: "Gotham Pro";
}

.feature__info {
    font-family: 'Gotham Pro Light';
    width: 194px;
}
.news__item__icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.news__item__text {
    display: inline-block;
    width: 685px;
}

.news__list {
    list-style: none;
}

.navigation__list {
    list-style: none;
}

.navigation__item-link {
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-size: 12px;
}

.navigation__icon-main {
    width: 17px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    background: url('img/main-icon.png') center center no-repeat;
}

.navigation__icon-feed {
    width: 17px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    background: url('img/feed-icon.png') center center no-repeat;

}

.navigation__icon-price {
    width: 17px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    background: url('img/wallet-icon.png') center center no-repeat;

}

.navigation__item:first-child {
    color: black;
}

.news__item {
    border-bottom: 2px solid #f5f5f5;
}
.news__item:last-child {
    border-bottom: none;
}

.footer__signature {
    width: 264px;
    color: #ffffff;
}

.footer {
    height: 77px;
    background: #27283e;
}
.footer__signature, .footer__logo, .footer__social {
    display: inline-block;
}

.footer__social__title {
    color: #ffffff;
}


.social-icon {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     overflow: hidden;
     display: inline-block;
     background: #d4d4d8;
 }

.social-icon__img-vk {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background: url('img/vk.svg') center center no-repeat;
}
.social-icon__img-fb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background: url('img/fb.png') center center no-repeat;
}
.social-icon__img-google {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background: url('img/google.png') center center no-repeat;
}
.social-icon__img-twitter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background: url('img/twitter.png') center center no-repeat;
}
.social-icon__img-mail {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background: url('img/mail.png') center center no-repeat;
}

.pagination {
    text-align: center;
}

.pagination__display,.pagination__controls{
    display: inline-block;
    vertical-align: middle;
}

.pagination__button, .pagination__item, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__page {

}

.submit-review__form {
    background: #f5f5f5;
}
.footer__social__list {
    list-style: none;
}

.footer__social__item {
    width: 20px;
    height: 20px;
    display: inline-block;
}