@font-face {
    font-family:'Gotham Pro Light';
    src: url('../../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Gotham Pro Light It';
    src: url('../../fonts/GothamPro-LightItalic.woff2') format('woff2'),
    url('../../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Gotham Pro';
    src: url('../../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background: #ffffff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.wrapper {

    min-height: 100%;
    overflow: hidden;
    min-width: 1100px;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.empty{
    height: 50px;
}


/*---------MAIN---------*/

.sidebar {
    width: 200px;

}


.breadcrumbs {
    margin-bottom: 15px;
}

.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
}


.breadcrumbs__link {
    font-family: 'Gotham Pro Light It';
    font-size: 14px;
    font-weight: 400;
    color: #ec1e79;
    opacity: 0.8;

}

.breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #221f1f;
    opacity: 0.8;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link--active {
    color: #221f1f;
    text-decoration: none;
}

.reviews__list {
    padding-top: 15px;
}
.reviews__section {
    min-width: 250px;
}
.reviews__title {
   font-family: "Gotham Pro";
    font-size: 49px;
    font-weight: bold;
}


.reviews__icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;

}
.reviews__item__text {
    width: 550px;
    display: inline-block;
    padding-left: 19px;
    vertical-align: top;
}
.reviews__date {
    font-family: 'Gotham Pro Light';
    font-size: 14px;
    color: #656464;
}

.reviews__user-name {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #221f1f;
    padding-top: 6px;
}

.reviews__info {
    width: 700px;
    padding-top: 11px;
    padding-bottom: 21px;
    font-family: 'Gotham Pro Light';
    font-weight: 300;
    line-height: 30px;
    color: #221f1f;
    font-size: 18px;
}
.reviews__item {
    border-bottom: 2px solid #f5f5f5;
    padding-top: 23px;

}
.reviews__item:last-child {
    border-bottom: none;
}
/*---------Info banner---------*/


.info-banner{
    margin-top: 1px;
    background: #27283e;
}

.info-banner__img {
    min-height: 174px;
    background: url('../../img/backgraund.jpg') center center no-repeat;
}

.info-banner__background {
    background: url('../../img/pattern.svg') center center no-repeat;
    min-height: 174px;
    position: relative;
}
.info-banner__text {
    line-height: 30px;
    color: #ffffff;
    font-family: 'Gotham Pro Light';
    font-weight: 300;
    font-size: 18px;
    width: 650px;
    padding-top: 40px;
    margin: auto;
    top: 48px;
    right: 202px;
    left: 230px;
    bottom: 49px;

}

.info-banner__text--active{
    font-family: "Gotham Pro";
    color: #ec1e79;
    font-weight: 700;
}

.main, .nav {
    display: inline-block;
}
.nav {
    width: 120px;
    float: left;

}

.main {
    width: 880px;
    float: left;
    padding-top: 40px;
}

.breadcrumbs, .reviews {
    width: 880px;
}

.main-content{
    padding-left: 53px;
}
/*---------FEEDBACK-FORM---------*/

.feedback__form{
    width: 700px;
    margin: 0 auto;
    background-color: #f5f5f5;
    margin-top: 55px;
    padding-top: 15px;
    padding-left: 70px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.form__element{
    width: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.form__element:last-child{
    margin-right: 0;
}



.form__title, .form__input{
    display: block;
}

.form__title{
    color: #221f1f;
    padding-bottom: 10px;
}

.form__title--main{
    font-family: "Gotham Pro";
    color: #221f1f;
    padding-bottom: 10px;
    font-size: 49px;
}

.form__input{
    width: 270px;
    height: 50px;
    border: none;
    outline-color: #ec1e79;
    padding-left: 10px;
    padding-right: 10px;
}

.form__element--vk {
    padding-left: 20px;
}
.form__element__text{
    width: 560px;
}

.form__element--right {
    padding-left: 40px;
}

.form__input__text{
    width: 580px;
    min-height: 90px;
    padding-top: 10px;
}

.form__radio{
    display: inline-block;
    margin-right: 20px;
}

.form__radio-text{
    margin-right: 5px;
}

.form__submit{
    background-color: #27273e;
    padding: 17px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    float: right;
}

/*---------PAGINATION---------*/

.pagination {

    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
    padding-bottom: 60px;
    padding-left: 200px;
}

.pagination__title{
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    color: #656464;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
}

.pagination__pages{
    color: #221f1f;
    font-weight: 700;
    padding-top: 12px;
}


.pagination__item, .pagination__list, .pagination__pages {
    display: inline-block;
}

.pagination__link--left{
    display: inline-block;
    width: 6px;
    height: 10px;
    opacity: 0.3;
}

.pagination__link--right{
    display: inline-block;
    width: 6px;
    height: 10px;
}

.pagination__link{
    text-decoration: none;
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    padding: 7px 8px;
    line-height: 21px;
}

.pagination__link:hover{
    color: #fff;
    background-color: #221f1f;
    padding: 7px 8px;
    border-radius: 5px;
}
